body {
    background-repeat:no-repeat;
    background-position: center;
    background-image: url('../assets/background4.jpg');
}

#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 128px;
}
#footer {
    position: absolute;
    width: 100%;
}
.inline {
    display: inline-block!important;
    margin: 8px;
}
.item-center {
    text-align: center;
}
.row div {
    text-align: center;
}
.tab-img {
    margin: 16px;
    max-width:50%;
    max-height:50%;
    width: auto;
    height: auto;
}
.cross-button {
    position: absolute;
    right:0;
    top:0;
}
#shadow {
    z-index: 9999;
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.popover{
    z-index: 99999;
}
.contact {
    margin-right: 128px;
}
.contact p {
    margin: 8px!important;
    position: absolute;
    display:inline-flex;
    margin-left: 72px!important;
}
.containers-style{
    background-color: #A9A9A9;
    text-align: center;
    border-radius: 15px;
    margin-top: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
  }